.form{
    width: 40%;
    margin: 0 auto;
    /* margin-top: 20%; */
}


.form > input{
    padding: 12px 16px;
    width: 70%;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
}

.form > button{
    border: none;
    border-radius: 5px;
    background-color: rgb(106,190,106);
    color: #ffff;
    padding: 12px 18px;
}