.product{
    margin: 2% ;
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    margin-left: 15%;
    margin-top: 8%;
    /* align-items: center; */
}
.item{
    width: 400px;
    height: 400px;
}
.img{
    width: 80%;
    height: 50%;
    border: solid;
    border-color: gray;
    /* border-radius: 10px; */
}
.links{
        background-color: maroon;
        border: maroon;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        /* margin: 0 auto; */
        width: 200px;
        height: 50px;
}
.add{
    text-align: center;
    background-color:brown;
    border-color: brown;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    width: 200px;
    margin-left: 6%;
}